<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Thunder Delivery</title>
    <meta charset="utf-8">
    <link href="/styles/main/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/images/main/logo.svg" alt="logo" />
        </div>
        <nav>
            <ul class="menu">
                <li><a class="menu-home" href="/home">Home</a></li>
                <li><a class="menu-register" href="register">Sign up</a></li>
            </ul>
        </nav>
        <div class="nav-button">
            <button type="button" class="credentials-button" onclick="location.href='login'">Sign in</button>
        </div>
    </header>

    <section class="first-para">
        <div class="margin"></div>
        <div class="first-text">
            <h2>WANT TO SEND A PACKAGE? MAYBE WANT TO TRACK YOUR ORDER?</h2>
            <p>Sign up here for free and experience premium content</p>
            <button type="button" class="sign-up-button" onclick="location.href='register'">
                 SIGN UP
            </button>
        </div>
        <div class="delivery-img">
            <img src="/images/main/delivery-img.svg" alt="delivery-img" class="delivery-img-img"/>
        </div>
        <div class="margin"></div>
    </section>
    
    <section class="second-para">
        <div class="margin"></div>
        <div class="second-text">
            <h2>OFFER</h2>
            <p>
                Our company specialize in express delivery. We have developed new way of deliverance - Drone Delivery. This solution reduce amount of air polution and make "Same Day Delivery" easier. It is still posible to choose traditional delivery.
            </p>
            <h3>PRICE (WEIGHT)</h3>
            <table class="colored-table">
                <tbody>
                    <tr>
                        <th></th>
                        <th>Super light (up to 1kg)</th>
                        <th>Light (up to 10kg)</th>
                        <th>Heavy (up to 31,5kg)</th>
                    </tr>
                    <tr>
                        <th>Poland</th>
                        <td>17 PLN</td>
                        <td>22 PLN</td>
                        <td>35 PLN</td>
                    </tr>
                    <tr>
                        <th>EU</th>
                        <td>3.70 €</td>
                        <td>4.40 €</td>
                        <td>6.50 €</td>
                    </tr>
                    <tr>
                        <th>USA</th>
                        <td>4.40 $</td>
                        <td>5.20 $</td>
                        <td>7.80 $</td>
                    </tr>
                    <tr>
                        <th>Rest of the world</th>
                        <td>4.50 $</td>
                        <td>5.30 $</td>
                        <td>8.00 $</td>
                    </tr>
                </tbody>
            </table>
            <h3>PRICE (SIZE)</h3>
            <table class="colored-table">
                <tbody>
                    <tr>
                        <th></th>
                        <th>S (up to 50cm)</th>
                        <th>M (up to 80cm)</th>
                        <th>L (up to 120cm)</th>
                    </tr>
                    <tr>
                        <th>Poland</th>
                        <td>70 PLN </td>
                        <td>75 PLN</td>
                        <td>115 PLN</td>
                    </tr>
                    <tr>
                        <th>EU</th>
                        <td>17.60 €</td>
                        <td>18.70 €</td>
                        <td>24.00 €</td>
                    </tr>
                    <tr>
                        <th>USA</th>
                        <td>17.60 $</td>
                        <td>18.60 $</td>
                        <td>28.50 $</td>
                    </tr>
                    <tr>
                        <th>Rest of the world</th>
                        <td>18.00 $</td>
                        <td>19.00 $</td>
                        <td>29.00 $</td>
                    </tr>
                </tbody>
            </table>
            <p class="adnotation">Prices may differ due to currency exchange.</p>
        </div>
        <div class="margin"></div>
    </section>

    <section class="first-para">
        <div class="margin"></div>
        <div class="second-text">
            <h2>ABOUT US</h2>
            <p>
                We are small company from Poland. Our company has been established in 2020 and due to COVID-19 earned a lot of attention. Mainly we deliver packages with our newly developed solution called Drone Delivery. 
            </p>
        </div>
        <div class="margin"></div>
    </section>
    <footer>
        <div class="footer-div">
            <p class="footer-inline left">&copy; 2020 Jakub Czajka</p>
        </div>
    </footer>
</body>

</html>